 *{
font-family: 'Teko', sans-serif;
font-weight: 100;
font-size: 20px;
}
.caja{
margin: 45px;
width: 300px;
height: 300px;
border: 3px solid #a22;
cursor: pointer;
background-color: rgb(155, 0, 155);
}
.caja:active{
cursor: row-resize;
}
.caja2{
margin: 45px;
width: 300px;
height: 300px;
background-color:rgba(155, 155, 155, 5);
border:5px solid #a22;
}
.caja3{
margin: 45px;
width: 300px;
height: 300px;
border:5px solid #a22;
background-color: #25a848;
}