*{
font-family: 'Teko', sans-serif;
font-weight: 100;
}
body {
	/**scroll-behavior: smooth;**/
}
.container{
	padding: 20px;
	background: blue;
	font-size: 20px;
	letter-spacing: 4px;
}
.content{
	background: #a22;
	user-select: none;

}